<p>
    Нашему Робо-Трио необходимо тренироваться для будущих приключений и охоты за сокровищами (золотые контакты нужны всем).
    Стефан построил специальную упрощенную модель пирамиды.
    И теперь наши роботы будут тренироваться в забегах за золотом на скорость.
    Они начинают с вершины пирамиды и собирают золото в каждой комнате, через которую проходят.
    В каждой комнате они выбирают влево или вправо и спускаются на следующий уровень.
    Чтобы оценивать результаты, Стефану нужно знать, а сколько максимум можно собрать за один забег.
</p>
<p>
    Представьте {% if is_js %}массив массивов{% else %}список списков{% endif %} в котором первый {% if is_js %}массив{% else %}список{% endif %} имеет одно число и следующие на одно число больше чем предыдущий.
    Такой {% if is_js %}массив массивов{% else %}список списков{% endif %} будет выглядеть как пирамида.
    Тебе нужно написать функцию, которая поможет Стефану найти максимальную сумму золота на самом выгодном маршруте с вершины пирамиды до ее основания.
    Все маршруты прохода по пирамиде из шагов вниз и влево/вправо.

</p>
<p>
    <strong>Примечания:</strong>
    Попробуйте думать о шаге вниз-влево, как о движении в следующий ряд не изменяя индекс в ряду
    и о шаге вниз/вправо -- с увеличением индекса в ряду на единицу.
    Будьте осторожны если вы хотите решать задачу рекурсией. получится медленное решение.
</p>
<p class="for_info_only" style="text-align: center">
    <img title="sum-in-triangles"
         src="{{ MEDIA }}sum-in-triangles.png"
         alt="sum-in-triangles"
         width="500px"/>
</p>
<p class="for_editor_only" style="text-align: center">
    <img title="sum-in-triangles"
         src="{{ MEDIA }}sum-in-triangles.png"
         alt="sum-in-triangles"
         width="380px"/>
</p>

<p><strong>Ввод:</strong> Пирамида, как {% if is_js %}массив массивов{% else %}список списков{% endif %}. Каждый {% if is_js %}массив{% else %}список{% endif %} целых чисел.</p>

<p><strong>Вывод:</strong> Максимально количество золота за один забег, как целое число.</p>

<div class="for_info_only">
    <p><strong>Примеры:</strong></p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<p class="for_info_only">
    <strong>Связь с реальной жизнью:</strong>
    <i>
        Эта классическая задача может помочь вам освоить динамическое программирование. Также это может пригодится вам для решения многих оптимизационных задач.
    </i>
</p>

<p>
    <strong>Предусловия:</strong>
    <ul>
        <li><i>0 &lt; len(pyramid) &le; 20;</i></li>
        <li><i>all(all(0 &lt; x &lt; 10 for x in row) for row in pyramid).</i></li>
    </ul>
</p>
